In [9]:
import pandas as pd
import numpy as np

In [10]:
purchase = pd.read_excel('Refund Application/1_Purchase Report.xlsx',header=None)
purchase.head(15)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,GSTR-2B - B2B Invoices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dealer Name:,NaN,REAL FRAGRANCES (PUNE) PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GSTIN:,NaN,27AACCR2605R1Z1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FinYear:,NaN,2023-2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,GENERATED DATE & TIME :- 07-Apr-2025 05:37:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Period,Trade/Legal name,GSTIN of supplier,POS,Invoice Type,Reverse Charge,Invoice No,Invoice Date,Invoice Value,Taxable Value,...,SGST,Cess,GSTR-1/5 Filling Period,GSTR-1/5 Filling Date,ITC Availibility,Reason,Source Type,E-Invoice Applicable,IRN,IRN Generated Date
8,"January,2024",A STAR CERAMICS,24ABLFA2541E1ZV,27-Maharashtra,Regular,No,GT/505,2024-01-04 00:00:00,52920,47250,...,0,0,"January,2024",2024-02-11 00:00:00,Yes,NaN,NaN,No,NaN,NaN
9,"February,2024",A TO Z GOODS CARRIERS(I) PVT LTD,27AADCA9538P1ZZ,27-Maharashtra,Regular,Yes,16753,2023-12-10 00:00:00,28200,28200,...,705,0,"December,2023",2024-03-07 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN
10,"February,2024",A TO Z GOODS CARRIERS(I) PVT LTD,27AADCA9538P1ZZ,27-Maharashtra,Regular,Yes,70037,2023-12-15 00:00:00,49700,49700,...,1242.5,0,"December,2023",2024-03-07 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN
11,"February,2024",A TO Z GOODS CARRIERS(I) PVT LTD,27AADCA9538P1ZZ,27-Maharashtra,Regular,Yes,70259,2024-01-22 00:00:00,29700,29700,...,742.5,0,"January,2024",2024-03-07 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN
12,"February,2024",A TO Z GOODS CARRIERS(I) PVT LTD,27AADCA9538P1ZZ,27-Maharashtra,Regular,Yes,70291,2024-01-29 00:00:00,65000,65000,...,1625,0,"January,2024",2024-03-07 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN
13,"February,2024",AG POLY PACKS PRIVATE LIMITED,09AAGCA9521K1ZD,27-Maharashtra,Regular,No,901/24209218,2024-02-17 00:00:00,93343,79104,...,0,0,"February,2024",2024-03-07 00:00:00,Yes,NaN,E-Invoice,Yes,c4cc2724ebf5cf20ac62e3e741bc4488a41f3863cfe408...,2024-02-17 00:00:00
14,"March,2024",AJANTA PLASTICS,29AALFA5505B1ZR,27-Maharashtra,Regular,No,605,2024-03-15 00:00:00,77882,66001,...,0,0,"March,2024",2024-04-10 00:00:00,Yes,NaN,NaN,No,NaN,NaN

In [11]:
start_index = 0
for row in purchase.itertuples():
    if  'Period' in row:
        start_index =row.Index

In [12]:
frame = purchase.loc[start_index+1:]
column_names = purchase.loc[start_index]

In [13]:
frame.columns = column_names

In [14]:
frame.head(6)

7,Period,Trade/Legal name,GSTIN of supplier,POS,Invoice Type,Reverse Charge,Invoice No,Invoice Date,Invoice Value,Taxable Value,...,SGST,Cess,GSTR-1/5 Filling Period,GSTR-1/5 Filling Date,ITC Availibility,Reason,Source Type,E-Invoice Applicable,IRN,IRN Generated Date
8,"January,2024",A STAR CERAMICS,24ABLFA2541E1ZV,27-Maharashtra,Regular,No,GT/505,2024-01-04 00:00:00,52920,47250,...,0,0,"January,2024",2024-02-11 00:00:00,Yes,NaN,NaN,No,NaN,NaN
9,"February,2024",A TO Z GOODS CARRIERS(I) PVT LTD,27AADCA9538P1ZZ,27-Maharashtra,Regular,Yes,16753,2023-12-10 00:00:00,28200,28200,...,705,0,"December,2023",2024-03-07 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN
10,"February,2024",A TO Z GOODS CARRIERS(I) PVT LTD,27AADCA9538P1ZZ,27-Maharashtra,Regular,Yes,70037,2023-12-15 00:00:00,49700,49700,...,1242.5,0,"December,2023",2024-03-07 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN
11,"February,2024",A TO Z GOODS CARRIERS(I) PVT LTD,27AADCA9538P1ZZ,27-Maharashtra,Regular,Yes,70259,2024-01-22 00:00:00,29700,29700,...,742.5,0,"January,2024",2024-03-07 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN
12,"February,2024",A TO Z GOODS CARRIERS(I) PVT LTD,27AADCA9538P1ZZ,27-Maharashtra,Regular,Yes,70291,2024-01-29 00:00:00,65000,65000,...,1625,0,"January,2024",2024-03-07 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN
13,"February,2024",AG POLY PACKS PRIVATE LIMITED,09AAGCA9521K1ZD,27-Maharashtra,Regular,No,901/24209218,2024-02-17 00:00:00,93343,79104,...,0,0,"February,2024",2024-03-07 00:00:00,Yes,NaN,E-Invoice,Yes,c4cc2724ebf5cf20ac62e3e741bc4488a41f3863cfe408...,2024-02-17 00:00:00

In [15]:
def create_df(sheet_name):
    df = pd.read_excel('Refund Application/1_Purchase Report.xlsx',header=None,sheet_name=sheet_name)
    start_index = 0
    for row in df.itertuples():
        if  'Period' in row:
            start_index =row.Index
    frame = df.loc[start_index+1:]
    column_names = df.loc[start_index]
    frame.columns = column_names
    return frame

In [34]:
## main function to get purchase sheet data frames
def get_purchase():
    file_path = 'Refund Application/1_Purchase Report.xlsx'
    purchase = pd.ExcelFile(file_path)
    sheet_dataframes = []
    for sheet in purchase.sheet_names:
        
        df = create_df(sheet_name=sheet)
        ## adding port code as impg contains it , rest dont , so later they can be easily joined
        if sheet == 'B2B':
            df['Type of Inward Supply'] = 'Inward Supply from Registered Person'
            df['Type of Document'] = 'Invoice/Bill of Entry'
            df['Port Code'] = ''
        elif sheet == 'CDNR':
            df['Type of Inward Supply'] = 'Inward Supply from Registered Person'
            df['Type of Document'] = 'Credit Note'
            df['Port Code'] = ''
        elif sheet == 'IMPG':
            df['Type of Inward Supply'] = 'Import of Goods/Supplies from SEZ to DTA'
            df['Type of Document'] = 'Invoice/Bill of Entry'
            
        print(sheet)
        sheet_dataframes.append(df)

    return sheet_dataframes


purchase_dataframes = get_purchase()

B2B
CDNR
IMPG

In [39]:
purchase_dataframes[1].head()

7,Period,Trade/Legal name,GSTIN of supplier,POS,Invoice Type,Reverse Charge,Note Type,Note No,Note Date,Invoice Value,...,GSTR-1/5 Filling Date,ITC Availibility,Reason,Source Type,E-Invoice Applicable,IRN,IRN Generated Date,Type of Inward Supply,Type of Document,Port Code
8,"March,2024",KANCHAN TRADERS,27ALIPK6742L1ZM,27-Maharashtra,Regular,No,Credit,83,2024-03-16 00:00:00,1200,...,2024-04-11 00:00:00,Yes,NaN,E-Invoice,Yes,b03311d4e0a148d5a67238e12ed2ab75c923fd6723eea8...,2024-03-18 00:00:00,Inward Supply from Registered Person,Credit Note,
9,"March,2024",KANCHAN TRADERS,27ALIPK6742L1ZM,27-Maharashtra,Regular,No,Credit,86,2024-03-16 00:00:00,1200,...,2024-04-11 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN,Inward Supply from Registered Person,Credit Note,
10,"January,2024",LAXMI NARAIN PRINT N PACK,27AAGFL2441N1Z3,27-Maharashtra,Regular,No,Credit,FY23-24/LNPCR-62,2024-01-01 00:00:00,20346,...,2024-02-08 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN,Inward Supply from Registered Person,Credit Note,
11,"January,2024",LAXMI NARAIN PRINT N PACK,27AAGFL2441N1Z3,27-Maharashtra,Regular,No,Credit,FY23-24/LNPCR-63,2024-01-01 00:00:00,43837,...,2024-02-08 00:00:00,Yes,NaN,NaN,Yes,NaN,NaN,Inward Supply from Registered Person,Credit Note,

In [ ]:
## we have the sales data frames with us

purchase_final_columns = ['Type of Inward Supply', 'GSTIN of Supplier/Self GSTIN', 'Type of Document','No./B/E','Date','Port Code','Taxable Value','Integrated Tax','Central Tax', 'State/Union Territory Tax']

In [51]:
cols_mapping_b2b = {
    'Type of Inward Supply':'Type of Inward Supply',
    'GSTIN of Supplier/Self GSTIN':'GSTIN of supplier',
    'Type of Document':'Type of Document',
    'No./B/E': 'Invoice No',
    'Date': 'Invoice Date',
    "Port Code":"Port Code",
    'Taxable Value': 'Taxable Value',
    'Integrated Tax': 'IGST',
    'Central Tax': 'CGST',
    'State/Union Territory Tax':"SGST"
        
}
#invoice no 
#date


cols_mapping_cdnr = {
    'Type of Inward Supply':'Type of Inward Supply',
    'GSTIN of Supplier/Self GSTIN':'GSTIN of supplier',
    'Type of Document':'Type of Document',
    'No./B/E': 'Note No',
    'Date': 'Note Date',
    "Port Code":"Port Code",
    'Taxable Value': 'Taxable Value',
    'Integrated Tax': 'IGST',
    'Central Tax': 'CGST',
    'State/Union Territory Tax':"SGST"
        
}

cols_mapping_impg = {
    'Type of Inward Supply':'Type of Inward Supply',
    'GSTIN of Supplier/Self GSTIN':'GSTIN of supplier',
    'Type of Document':'Type of Document',
    'No./B/E': 'Bill Number',
    'Date': 'Bill Date',
    "Port Code":"Port Code",
    'Taxable Value': 'Taxable Value',
    'Integrated Tax': 'IGST',
    # 'Central Tax': 'CGST',
    # 'State/Union Territory Tax':"SGST"        
}

In [57]:
def create_final_purchase_frame(dfs, cols_mapping_b2b,cols_mapping_cdnr,cols_mapping_impg):
    new_dfs = []
    for df in dfs:
        # if else based on type of doc , for cdnr different mapping
        if 'Credit Note' in  df['Type of Document'].value_counts().keys() :
            # Filter only columns present in the current df
            available_mapping = {k: v for k, v in cols_mapping_cdnr.items() if v in df.columns}
            temp_df = df[list(available_mapping.values())].rename(columns={v: k for k, v in available_mapping.items()})
        else:
            if 'Inward Supply from Registered Person' in df['Type of Inward Supply'].value_counts().keys():
                available_mapping = {k: v for k, v in cols_mapping_b2b.items() if v in df.columns}
                temp_df = df[list(available_mapping.values())].rename(columns={v: k for k, v in available_mapping.items()})
            else:
                available_mapping = {k: v for k, v in cols_mapping_impg.items() if v in df.columns}
                temp_df = df[list(available_mapping.values())].rename(columns={v: k for k, v in available_mapping.items()})
                df['Central Tax'] = ''
                df['State/Union Territory Tax'] = ''

        temp_df['Date'] = pd.to_datetime(temp_df['Date']).dt.strftime('%d-%m-%Y')
        print(temp_df.shape)
        new_dfs.append(temp_df)

    return pd.concat(new_dfs, ignore_index=True)

# Call the function
final_df = create_final_purchase_frame(purchase_dataframes, cols_mapping_b2b,cols_mapping_cdnr,cols_mapping_impg)

(466, 10)
(4, 10)
(1, 7)

In [58]:
final_df.head()

7,Type of Inward Supply,GSTIN of Supplier/Self GSTIN,Type of Document,No./B/E,Date,Port Code,Taxable Value,Integrated Tax,Central Tax,State/Union Territory Tax
0,Inward Supply from Registered Person,24ABLFA2541E1ZV,Invoice/Bill of Entry,GT/505,04-01-2024,,47250,5670,0,0
1,Inward Supply from Registered Person,27AADCA9538P1ZZ,Invoice/Bill of Entry,16753,10-12-2023,,28200,0,705,705
2,Inward Supply from Registered Person,27AADCA9538P1ZZ,Invoice/Bill of Entry,70037,15-12-2023,,49700,0,1242.5,1242.5
3,Inward Supply from Registered Person,27AADCA9538P1ZZ,Invoice/Bill of Entry,70259,22-01-2024,,29700,0,742.5,742.5
4,Inward Supply from Registered Person,27AADCA9538P1ZZ,Invoice/Bill of Entry,70291,29-01-2024,,65000,0,1625,1625

In [59]:
final_df[final_df['Type of Document']=='Credit Note']

7,Type of Inward Supply,GSTIN of Supplier/Self GSTIN,Type of Document,No./B/E,Date,Port Code,Taxable Value,Integrated Tax,Central Tax,State/Union Territory Tax
466,Inward Supply from Registered Person,27ALIPK6742L1ZM,Credit Note,83,16-03-2024,,1016.94,0,91.52,91.52
467,Inward Supply from Registered Person,27ALIPK6742L1ZM,Credit Note,86,16-03-2024,,1016.94,0,91.52,91.52
468,Inward Supply from Registered Person,27AAGFL2441N1Z3,Credit Note,FY23-24/LNPCR-62,01-01-2024,,17242,0,1551.78,1551.78
469,Inward Supply from Registered Person,27AAGFL2441N1Z3,Credit Note,FY23-24/LNPCR-63,01-01-2024,,37150,0,3343.5,3343.5

In [60]:
final_df.tail(10)

7,Type of Inward Supply,GSTIN of Supplier/Self GSTIN,Type of Document,No./B/E,Date,Port Code,Taxable Value,Integrated Tax,Central Tax,State/Union Territory Tax
461,Inward Supply from Registered Person,24AABCV3609C1ZT,Invoice/Bill of Entry,2924087821,07-03-2024,,4500,225,0,0
462,Inward Supply from Registered Person,24AABCV3609C1ZT,Invoice/Bill of Entry,2924088046,12-03-2024,,300,15,0,0
463,Inward Supply from Registered Person,27AADFW6445L1ZN,Invoice/Bill of Entry,WA/23-24/0308,24-01-2024,,5915,0,532.35,532.35
464,Inward Supply from Registered Person,27AADFW6445L1ZN,Invoice/Bill of Entry,WA/23-24/0333,13-02-2024,,8224,0,740.16,740.16
465,Inward Supply from Registered Person,27AADFW6445L1ZN,Invoice/Bill of Entry,WA/23-24/0375,15-03-2024,,3610.5,0,324.95,324.95
466,Inward Supply from Registered Person,27ALIPK6742L1ZM,Credit Note,83,16-03-2024,,1016.94,0,91.52,91.52
467,Inward Supply from Registered Person,27ALIPK6742L1ZM,Credit Note,86,16-03-2024,,1016.94,0,91.52,91.52
468,Inward Supply from Registered Person,27AAGFL2441N1Z3,Credit Note,FY23-24/LNPCR-62,01-01-2024,,17242,0,1551.78,1551.78
469,Inward Supply from Registered Person,27AAGFL2441N1Z3,Credit Note,FY23-24/LNPCR-63,01-01-2024,,37150,0,3343.5,3343.5
470,Import of Goods/Supplies from SEZ to DTA,NaN,Invoice/Bill of Entry,2547302,13-03-2024,INNSA1,524744,26237,NaN,NaN

In [61]:
final_df.to_excel('purchase1.xlsx')